/*  CSS */
/* Rule */

body {
    display: grid;
    height: 100vh;
    place-items: center;
  }
  main{
    background: #c4c3ec;
    width: 400px;
    padding: 16px;
    border-radius: 8px;
  }
  
  img{
    border-radius: 50%;
    
  }
  div{
    text-align:center;
    
  }
  main:hover{
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    transform: scale(1);
  }